In [1]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv("wellbeing-toronto-culture.csv")

In [4]:
data.head()

                       Neighbourhood  Neighbourhood Id  Cultural Location Index
0             West Humber-Clairville                 1                     0.09
1  Mount Olive-Silverstone-Jamestown                 2                     0.13
2       Thistletown-Beaumond Heights                 3                     0.20
3                    Rexdale-Kipling                 4                     0.07
4                   Elms-Old Rexdale                 5                     0.11

In [6]:
data = data.drop('Neighbourhood Id', axis=1)

In [8]:
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

longitude = []
latitude = []
   

def findGeocode(city):

    try:
          
        geolocator = Nominatim(user_agent="your_app_name")
          
        return geolocator.geocode(city)
      
    except GeocoderTimedOut:
          
        return findGeocode(city)    
  
for i in (data["Neighbourhood"]):
      
    if findGeocode(i) != None:
           
        loc = findGeocode(i)
          
        # coordinates returned from 
        # function is stored into
        # two separate list
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)
       
    # if coordinate for a city not
    # found, insert "NaN" indicating 
    # missing value 
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)

In [10]:
data["Longitude"] = longitude
data["Latitude"] = latitude
  
data

                         Neighbourhood  ...   Latitude
0               West Humber-Clairville  ...  43.722563
1    Mount Olive-Silverstone-Jamestown  ...  34.949044
2         Thistletown-Beaumond Heights  ...        NaN
3                      Rexdale-Kipling  ...  43.722114
4                     Elms-Old Rexdale  ...  43.721770
..                                 ...  ...        ...
135                          West Hill  ...  43.768914
136                             Woburn  ...  42.479262
137                      Eglinton East  ...  55.040548
138                Scarborough Village  ...  43.743742
139                          Guildwood  ...  43.755225

[140 rows x 4 columns]

In [11]:
data.to_csv('cultural wellbeing.csv')